<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="湖北大学2015级软件工程（产业计划）班学生李路，李路，木子博客，木子足各，木子，L博客，L，mz">
    <meta name="description" content="大渣好，我是渣渣路，mz-blog，介系你没有见过的船新版本，挤需体验三番钟，里造会干我一样，爱象借款博客。看一瞎，爱一连，博客不发一分钱，你想看的船部都由。系兄弟，就一起来看我吧！">
    <title>木子博客-关于</title>
    <link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css">
    <link rel="stylesheet" href="__INDEXSTATIC__/css/global.css">
</head>
<body>
{include file='/common/header' /}
<div class="layui-container" style="margin-top: 25px;">
    <div class="layui-tab layui-tab-brief" lay-filter="about">
        <ul class="layui-tab-title">
            <li class="layui-this">关于【Blog】</li>
            <li>关于【我】</li>
            <li>关于【网站】</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018年8月<em>beta</em></h3>
                            <p>
                                博客站项目雏形
                                <br>一切都比较简陋
                                <br>功能就仅仅文章浏览、发布等些许功能。
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">起始点</h3>
                            <p>
                                无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="layui-tab-item layui-text">
                <ul>
                    <li>湖北大学2015级软件工程（产业计划）班学生：李路</li>
                    <li>GitHub: https://github.com/tclilu</li>
                    <li>邮箱：tclilu@lilu.org.cn（欢迎您提出宝贵的意见或建议）</li>
                </ul>
            </div>
            <div class="layui-tab-item">
                <p>云主机提供商：</p>
            </div>
        </div>
    </div>
</div>
{include file='/common/footer' /}
<script src="__PLUGINS__/layui/layui.js"></script>
<script>
    layui.use(['element'],function () {
        var element = layui.element;
    });
</script>
{include file="/common/baidu_js_push" /}
</body>
</html>